{{#each projects}}
<h4>{{name}}</h4>
<p>{{description}}</p>
<p><a href="{{repoLink}}">View the code</a></p>
<p><a href="{{deployLink}}">View the project</a></p>
{{#if preview}}
<img src="{{preview}}" alt="{{name}} preview image">
{{/if}}
{{/each}}