<section class="project-section">
  <h3 class="section-title">Featured projects</h3>

  {{#each projects}}

  <div class="project">
    <div class="project-img">
      {{#if preview}}
      <img class="project-img" src="{{preview}}" alt="{{name}} preview image">
      {{/if}}
    </div>
    <div class="project-content">
      <h2>{{name}}</h2>
      <p>{{description}}</p>
      <p>
        <a class="project-link" href="{{repoLink}}">View the code</a>
        <a class="project-link" href="{{deployLink}}">View the project</a>
      </p>
    </div>
  </div>
  <hr class="project-split">
  {{/each}}
</section>