<section class="project-section">
  <h3 class="section-title" id="projects">Featured projects</h3>

  {{#each projects}}

  <div class="project">
    <div class="project-img">
      {{#if preview}}
      <img class="project-img" src="{{preview}}" alt="{{name}} preview image">
      {{/if}}
    </div>
    <div class="project-content">
      <h2>{{name}}</h2>
      <p>{{description}}</p>
      <div class="tech-stack">
        {{#each stack}}
        <p class="tech-badge">{{this}}</p>
        {{/each}}
      </div>
      <p>
        {{#if repoLink}}
        <a class="project-link" target="_blank" href="{{repoLink}}">View the code</a>
        {{/if}}
        {{#if deployLink}}
        <a class="project-link" target="_blank" href="{{deployLink}}">View the project</a>
        {{/if}}
      </p>
    </div>
  </div>
  <hr class="split">
  {{/each}}
</section>